.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    position: relative;
    background-color: white;
    &-title{
        margin-bottom: 1.5rem;
    }
    &-products{
        display: flex;
        justify-content: center;
        // flex-direction: row;
        flex-wrap: wrap;
        // app-product{
        //    display: flex;
        //    justify-content: center;
        //    flex-direction: row;
        //    flex-wrap: wrap;
        // }
    }
}

@media (max-width: 768px) {
    .button-catalogo {
        display: none; /* Oculta el botón en dispositivos con un ancho máximo de 768 píxeles */
    }
}