.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100vw;
    position: relative;
    background-color: white;
    &-title{
        margin-bottom: 1.5rem;
    }
}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.responsive-none {
    display: block;
}

.responsive-block {
    display: none;
}

@media (max-width: 768px) {
    .responsive-none {
        display: none;
    }
    
    .responsive-block {
        display: block;
    }
}