<div class="container">
    <carousel [(activeSlide)]="activeSlide" [isAnimated]="true" [showIndicators]="false" 
        [interval]="6000">
        <slide *ngFor="let image of images">
            <img [src]="image" alt="Slide">
        </slide>
        <ol class="custom-indicators">
            <li *ngFor="let image of images; let i = index" (click)="selectSlide(i)" 
                [class.active]="i === activeSlide">
                <!-- <a (click)="togglePause()">{{ i + 1 }}</a> -->
                <a>{{ i + 1 }}</a>
                <svg class="glide__loader" height="30" width="30">
                    <circle cx="15" cy="15" r="14" fill="none" stroke-width="2"></circle>
                </svg>
            </li>
        </ol>
    </carousel>
</div>