<div class="container pt-4">
    <div class="row">
        <div class="product-details col-sm-12 col-md-6 pr-4">
            <h2 class="my-4 mb-4">Carrito de Canjes</h2>
            <div class="carrito-item" *ngFor="let producto of myCart$ | async">
                <div class="detalle">
                    <div class="imagen">
                        <div class="img"><img
                            [src]="'https://static.interbankbenefit.pe/public/web/images/producto/thumbnail' + producto.imagenOportunidad"
                                alt="Olla alta granito black 24cm con tapa koba"></div>
                        <button class="eliminar" type="button" (click)="deleteProduct(producto)">
                            Eliminar
                        </button>
                    </div>
                    <div>
                        <p class="marca">{{ producto.descripcionMarca }}</p>
                        <p class="titulo">{{ producto.nombre }}</p>
                    </div>
                </div>
                <div class="precio">
                    <p class="millas"><strong>{{ producto.precioPuntos * producto.cantidad | numberMil }}</strong> Millas</p>
                    <p class="soles">o S/. {{ producto.precioCatalogo * producto.cantidad | numberDecimal }}</p>
                    <p class="soles">Cantidad: {{ producto.cantidad }}</p>
                </div>
            </div>
        </div>
        <div class="customizable col-sm-12 col-md-6 pl-4">
            <div style="padding-top: 40px;">
                <h5>Detalle de Precios</h5>
                <div class="section precio text-right">
                    <span>
                        Subtotal {{ (myCart$ | async).length }} Producto
                    </span>
                    <p>
                        {{ totalCart().totalMillas | numberMil }} Millas<br>
                        o S/. {{ totalCart().totalSoles | numberDecimal }}
                    </p>
                </div>
                <div class="section">
                    <strong>
                        Total en Millas
                    </strong>
                    <strong class="total-millas">
                        {{ totalCart().totalMillas | numberMil }} Millas
                    </strong>
                </div>
                <div class="section">
                    <div class="buttons flex">
                        <div class="align-right">
                            <button class="btn btn-primary btn-lg" type="submit">Completar Canje</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>