$primaryBlue0: #002a79;
$primaryBlue1: #0039A6;
$primaryBlue2: #3361B8;
$primaryBlue3: #6688CA;
$primaryBlue4: #99B0DB;
$primaryBlue5: #CCD7ED;
$primary: #3498db;
$secondary: #2ecc71;
$grayText: #333333;
$grayBlack: #0F191E;
$gray1: #878C8F;
$gray2: #B7BABC;
$gray3: #D9DADB;
$gray4: #ECEDED;
$gray5: #FBFBFB;
$gray6: #f7f8f8;
$fast: 0.2s;
$slow: 0.4s;